/* Add your CSS styles here */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form label {
  display: block;
  font-weight: bold;
}

form input {
  margin-bottom: 10px;
}

#plantRecommendation {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

img {
  height: 300px;
}